<header class="rn-header haeder-default black-logo-version header--fixed header--sticky">
    <div class="container">
        <div class="header-inner">
            <div class="header-left">
                <div class="logo-thumbnail logo-custom-css">

                    
                    <a  routerLink="/"><img src="assets/images/logo/bigLogo.png" alt="nft-logo"></a> 

                </div>
                <div class="mainmenu-wrapper">
                    <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                        <!-- Start Mainmanu Nav -->
                        <ul class="mainmenu">
                           
                           
                            <li><a routerLink="/faq">F.A.Q</a></li>
                             
                        </ul>
                        <!-- End Mainmanu Nav -->
                    </nav>
                </div>
            </div>
            <div class="header-right">
                <div class="setting-option d-none d-lg-block">
                    <!-- <a class="btn btn-primary-alta btn-small" routerLink="/dapp">Club Access</a>
                    <a class="btn btn-primary-alta btn-small" routerLink="/nftmarketplace">Marketplace</a> -->
                </div>
                <div class="setting-option rn-icon-list d-block d-lg-none">
                  
                </div>

                <div class="setting-option rn-icon-list notification-badge">

                </div>

                <div class="setting-option header-btn">
                    <div class="icon-box" style="display: flex;align-items: baseline;">
                    
                               
                       
                       <!-- <a *ngIf="walletAddress" class="btn btn-primary-alta btn-small" (click)="logoutMetamask()" ><img style="width: 25px;" src="assets/images/metamask.svg">{{walletAddress}}</a>
                         <a *ngIf="!walletAddress"  class="btn btn-primary-alta btn-small" (click)="connectMetamask()"><img style="width: 35px;" src="assets/images/metamask.svg">Connect Metamask</a>
                       -->
                    </div>
                </div>
                <div class="setting-option rn-icon-list user-account">

                </div>
                <div class="setting-option mobile-menu-bar d-block d-xl-none">
                    <div class="hamberger">
                        <button class="hamberger-button">
                            <i class="feather-menu"></i>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</header>

<div class="popup-mobile-menu">
    <div class="inner">
        <div class="header-top">
            <div class="logo logo-custom-css">
                <!-- <a class="logo-light"  href="/"><img src="assets/images/logo/smalllogo.png" style="max-height: 55px!important;" alt="nft-logo"></a>
                <a class="logo-dark"  href="/"><img src="assets/images/logo/smalllogo.png" style="max-height: 55px!important;" alt="nft-logo"></a> -->
                <a  routerLink="/"><img src="assets/images/logo/bigLogo.png" alt="nft-logo"></a> 
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="feather-x"></i>
                </button>
            </div>
        </div>
        <nav>
            <!-- Start Mainmanu Nav -->
            <ul class="mainmenu">
                <li><a routerLink="/faq">F.A.Q</a></li>
            </ul>
            <!-- End Mainmanu Nav -->
        </nav>
    </div>
</div>