<app-dappheader></app-dappheader>
<ngx-ui-loader  [text]="messageLoader"></ngx-ui-loader>
  <!-- start page title area -->
  <div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-start">Donation page for {{donatorPageName}}</h5>
             
            </div>
            <div class="col-lg-6 col-md-6 col-12">
             
            </div>
        </div>
    </div>
</div>

<div class="create-area rn-section-gapTop" *ngIf="hasWallet">
    <div class="container">
        <div class="row g-5">
            <div class="col  offset-1 ml_md--0 ml_sm--0"  *ngIf="!walletConnected" >
                <p class="post-title">Please to be able to make a donation, you need to connect your wallet first.</p>
                <a class="btn btn-primary btn-large" (click)="connectWallet()">Connect your wallet</a><img *ngIf="!walletConnected" style="width: 40px;" src="assets/images/icons/wallet/1.png" alt="wallet_image">
                           
            </div>
            <div class="col  offset-1 ml_md--0 ml_sm--0"  *ngIf="walletConnected && noAccountFound" >
                <p class="post-title" class="alert alert-danger">Sorry but no donation page has been found on this address.</p>
                           
            </div>
        </div>
        <div class="row g-5" *ngIf="canShow" style="justify-content: center;">
           
            <div class="col-lg-7">
                <div class="form-wrapper-one">
                    <form class="row" action="#">

                        <div class="col-md-12">
                            <img [src]="imageLogoSrc" *ngIf="imageLogoSrc" style="height: 200px; width:200px">
   
                            <div class="input-box pb--20">
                               
                                <label for="name" class="form-label" style="color:white">{{accountDonation.name}}</label>
                               
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label for="Discription" class="form-label">Description</label>
                                <textarea id="Discription" rows="3">{{accountDonation.description}}</textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-box pb--20">
                                <label for="dollerValue" class="form-label">Website: </label>
                                <a href="{{accountDonation.website}}" target="_blank" style="margin-left: 10px;">{{accountDonation.website}}</a>
                            </div>
                        </div>
                        <div class="col-md-12 amount">
                            <span>Amount:</span>
                            <button type="button" class="btn btn-primary btn-circle btn-xl" (click)="sub()">-</button>
                            <span><p style="margin-left: 10px;">{{amount}} MATIC</p></span>
                            <button type="button" class="btn btn-primary btn-circle btn-xl" (click)="add()">+</button>
 
                        </div>
                        <div class="col-md-12">
                            <div class="input-box">
                                <button class="btn btn-primary btn-large w-100" *ngIf="amount==1" (click)="deposit()">Buy him {{amount}} beer</button>
                                <button class="btn btn-primary btn-large w-100" *ngIf="amount>1" (click)="deposit()">Buy him {{amount}} beers</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

            <div class="mt--100 mt_sm--30 mt_md--30 d-block d-lg-none">
                
                <!-- <h5> Note: </h5>
                <span> Service fee : <strong>2.5%</strong> </span> <br>
                <span> You will receive : <strong>25.00 ETH $50,000</strong></span> -->
            </div>
        </div>
        <div class="row g-5" style="margin-top: 30px;">
            <div class="col offset-1 ml_md--0 ml_sm--0"   >
                   <p class="post-title">Crypto donations platform for content creators ! More info <a routerLink="/faq" target="_blank">here.</a></p>      
            </div>
            
        </div>
       
    </div>
</div>
<div class="create-area rn-section-gapTop" *ngIf="!hasWallet">
    <div class="container">
        <div class="row g-5">
            <div class="col  offset-1 ml_md--0 ml_sm--0"  *ngIf="!walletConnected" >
                <p class="post-title">You need to install a wallet in your browser !</p>
                <a class="btn btn-primary btn-large" href="https://metamask.io/" target="_blank">Install Metamask</a><img  style="width: 40px;" src="assets/images/icons/wallet/1.png" alt="wallet_image">
                           
            </div>
           
        </div>
       
    </div>
</div>
<app-dappfooter></app-dappfooter>