<div class="copy-right-one ptb--20 bg-color--1 mt--60">
    <div class="container">
        <div class="row">
            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s"> 
                <a href="https://twitter.com/csurbier" style="padding-right: 10px;"> <i class="fa fa-twitter" aria-hidden="true"></i></a> 
                <a href="https://github.com/csurbier" style="padding-right: 10px;"><i class="fa fa-github" aria-hidden="true"></i></a> 
                <a href="https://www.malt.fr/profile/christophesurbier" style="padding-right: 10px;"><i class="fa fa-slack" aria-hidden="true"></i></a> 
                <a href="https://www.linkedin.com/in/christophesurbier/" style="padding-right: 10px;"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
            </div>     
        </div>
        <div class="row align-items-center">
            <div >
                
                    
                    <span>© 2023 BuyMeACryptoBeer.com All rights reserved. Created with ❤️ in Barcelona.&nbsp; </span>
                    |&nbsp;&nbsp; <a href="/terms">Terms</a>&nbsp; |&nbsp;&nbsp; <a href="/privacy">Privacy Policy</a>&nbsp; |&nbsp;&nbsp; <a href="mailto:contact@buymeacryptobeer.com"><i data-feather="mail"></i></a>
               
            </div>
            
        </div>
        
       
    </div>
</div>
<!-- End Footer Area -->

<!-- End Footer Area -->
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>
<!-- Start Top To Bottom Area  -->
<div class="rn-progress-parent">
    <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>